- var repeats = 200
doctype 5
html
	head
		title Topcoat notification
		link(rel='stylesheet', type='text/css', href='../../release/css/topcoat-notification.min.css')
	body
		- while (--repeats)
			p
				strong Inbox
				span.topcoat-notification 5
