@import notification-base-mixin

/*
  Topcoat notification badge
  ---------------------------------

  <span class="topcoat-notification">1</span>

*/

.topcoat-notification
  notification-base()
  border-radius var-notification-border-radius
  background-color var-notification-bg-color
  color var-notification-color
