@import notification-mixin

/*
  Topcoat notification badge
  ---------------------------------

  <span class="notification">1</span>

*/

.topcoat-notification
  notification-base()
  border-radius var-border-radius
  background-color var-bg-color
  color var-color
  font var-font